p, li, ul, h1, table, a:link {
	color: #FDBB30;
}

body {
	background-color: #00543C;
}

table { 
	width: 70s%; 
	text-align: center;
}

a:visited {
	color: white;
}

a:hover {
	color: white;
}

a:active {
	color: black;
}

img {
	width: 700px;
	height: 500p;
}
